#script-warning {
    text-align: center;
    font-weight: bold;
    color: red;
    display: none;
}

#loading {
    display: none;
}

.fullcalendar {
    max-width: 1100px;
    margin: 40px auto;
    font-size: 14px;
}
@media only screen and (max-width: 768px) {
    .fullcalendar {
        margin: 0 0;
    }
    .fc-event-time {
        display: none;
    }
}
.fc .fc-button-group,
.fc .fc-toolbar {
    flex-flow: row wrap;
}
.fc-toolbar-chunk {
    margin-bottom: 2px;
}
.fc-view-harness .fc-list {
    overflow-x: auto;
}
.fc .fc-view-harness {
    line-height: 130%;
}
/* Tooltip */

#powerTip {
    font-size: 14px;
    padding: 5px;
    white-space: normal;
    max-width: 300px;
}
#powerTip *{
    color: white !important;
}
#powerTip hr{
    padding: 0;
}